
devsearch/devsearch/__pycache__/settings.cpython-310.pyc

devsearch/devsearch/__pycache__/urls.cpython-310.pyc

devsearch/projects/__pycache__/views.cpython-310.pyc

devsearch/projects/__pycache__/urls.cpython-310.pyc
